.popup {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
}

.popup_opened {
    display: block;
}
  
.popup__container {
    margin: 0;
    padding: 34px 36px 37px;
    width: 430px;
    height: 330px;
    box-sizing: border-box;
    position: fixed;
    top: calc(50% - (330px / 2));
    left: calc(50% - (430px / 2));
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        padding: 25px 22px;
        width: 283px;
        height: 322px;
        top: calc(50% - (322px / 2));
        left: calc(50% - (283px / 2));
    }
}
  
.popup__fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 0;
}
  
.popup__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    line-height: 29px;
    font-size: 24px;
    color: #000;
}

@media screen and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
    }
}
  
.popup__name-input {
    margin: 48px 0 0;
    padding: 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.popup__name-input:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .popup__name-input {
        margin-top: 75px;
        width: 238px;
    }
}
  
.popup__job-input {
    margin: 30px 0 0;
    padding: 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.popup__job-input:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .popup__info-input {
        width: 238px;
    }
}
  
.popup__submit-button {
    margin: 48px 0 0;
    padding: 14px 124px 18px;
    border: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #FFF;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
  
.popup__submit-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__submit-button {
        margin-top: 45px;
        padding: 14px 82px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}
  
.popup__close-button {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url(../../images/Close_Icon.svg);
    background-size: 32px 32px;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
}
  
.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        top: -36px;
        right: 0;
    }
}