.profile {
    max-width: 880px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    grid-template-areas:
      'img info button';
    column-gap: 30px;
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        grid-template-columns: 282px;
        grid-template-rows: 120px 1fr 1fr;
        grid-template-areas:
        'img' 
        'info' 
        'button';
    }
}

.profile__avatar {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    grid-area: img;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        margin: 0 auto;
    }
}

.profile__info {
    margin: 0;
    padding: 0;
    max-width: 336px;
    grid-area: info;
    align-self: center;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin-top: 26px;
        max-width: 282px;
    }
}

.profile__name {
    margin: 0;
    padding: 0;
    max-width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    align-self: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__name {
        margin: 0 auto;
        font-size: 27px;
        line-height: 33px;
        max-width: 194px;
        text-align: center;
    }
}

.profile__job {
    margin: 7px 0 0;
    padding: 0;
    max-width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__job {
        margin-top: 8px auto 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.profile__edit-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    border: 1px solid #FFF;
    background-image: url(../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        top: 10px;
        right: 19px;
        width: 18px;
        height: 18px;
        background-size: 5.25px 5.25px;
    }
}

.profile__add-button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    background-color: #000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    box-sizing: border-box;
    align-self: center;
    grid-area: button;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        margin: 33px auto 0;
        width: 282px;
        background-size: 16px 16px;
    }
}