.profile {
    padding: 0;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile {
        width: 282px;
        flex-direction: column;
    }
}

.profile__info {
    margin: 0;
    display: grid;
    grid-template-columns: 120px minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas: 
    'avatar title button'
    'avatar subtitle subtitle';
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
        grid-template-rows: 120px minmax(min-content, max-content) minmax(min-content, max-content);
        grid-template-areas: 
        'avatar avatar'
        'title button'
        'subtitle subtitle';
    }
}

.profile__avatar {
    display: block;
    margin: 0;
    padding: 0;
    grid-area: avatar;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        justify-self: center;
    }
}

.profile__title {
    margin: 0 0 0 30px;
    padding: 0;
    grid-area: title;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    align-self: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__title {
        margin: 26px 0 0;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        justify-self: center;
    }
}

.profile__subtitle {
    margin: 16px 0 0 30px;
    padding: 0;
    grid-area: subtitle;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        margin: 14px 0 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        justify-self: center;
    }
}

.profile__edit-button {
    margin: 0 0 0 18px;
    padding: 0;
    grid-area: button;
    width: 24px;
    height: 24px;
    background-color: #000;
    border: 1px solid #FFF;
    background-image: url(../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    align-self: end;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        justify-self: start;
        background-size: 5.25px 5.25px;
    }
}

.profile__add-button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    background-color: #000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    box-sizing: border-box;
    align-self: center;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        margin-top: 36px;
        width: 282px;
        height: 50px;
        background-size: 16px 16px;
    }
}