.elements {
    max-width: 880px;
    box-sizing: border-box;
    padding: 0;
}

.elements__gallery {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    gap: 20px 17px;
}

@media screen and (max-width: 1279px) {
    .elements__gallery {
        margin: 0 auto;
        max-width: 880px;
    }
}

@media screen and (max-width: 1023px) {
    .elements__gallery {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        max-width: 581px;
    }
}

@media screen and (max-width: 767px) {
    .elements__gallery {
        grid-template-columns: 282px;
        grid-auto-rows: 361px;
        width: 282px;
    }
}

.elements__card {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}

.elements__figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

.elements__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 282px;
    object-fit: cover;
}

.elements__caption {
    margin: 25px 20px 31px 21px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.elements__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 195px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__like-button {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../images/like.svg);
    background-size: cover;
    border: 0;
    box-sizing: border-box;
    align-self: center;
}

.elements__like-button:hover {
    opacity: .5;
    cursor: pointer;
}

.elements__like-button__active {
    background-image: url(../../images/like_active.svg);
}